.promo {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  text-align: center;

  h1 {
    text-transform: uppercase;
    font-size: 32px;
    margin-bottom: 20px;
  }
}